In [1]:
import numpy as np 
import pandas as pd

In [2]:
# new library - for times and dates

import time 
from datetime import date

In [3]:
web=pd.read_csv('web_data.csv')

In [4]:
web.head()

,web_id,client_id,visitor_id,visit_id,process_step,date_time
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:27
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/17 15:26
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:19
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/17 15:19
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:18

In [26]:
web.iloc[[123]]

,web_id,client_id,visitor_id,visit_id,process_step,date_time
123,123,949210,591670455_4193241312,205836248_53279938801_198414,confirm,2017-04-05 19:50:00

In [61]:
web.dtypes

web_id                   int64
client_id                int64
visitor_id              object
visit_id                object
process_step            object
date_time       datetime64[ns]
Month                    int64
Day                      int64
Weekday                  int64
today                   object
dtype: object

In [6]:
web.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343141 entries, 0 to 343140
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   web_id        343141 non-null  int64
 1   client_id     343141 non-null  int64
 2   visitor_id    343141 non-null  object
 3   visit_id      343141 non-null  object
 4   process_step  343141 non-null  object
 5   date_time     343141 non-null  object
dtypes: int64(2), object(4)
memory usage: 15.7+ MB

In [7]:
web['date_time']= pd.to_datetime(web['date_time'], errors='coerce')

In [8]:
web.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343141 entries, 0 to 343140
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   web_id        343141 non-null  int64
 1   client_id     343141 non-null  int64
 2   visitor_id    343141 non-null  object
 3   visit_id      343141 non-null  object
 4   process_step  343141 non-null  object
 5   date_time     343141 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 15.7+ MB

In [28]:
web.iloc[[123]]

,web_id,client_id,visitor_id,visit_id,process_step,date_time
123,123,949210,591670455_4193241312,205836248_53279938801_198414,confirm,2017-04-05 19:50:00

In [34]:
web[123:124]

,web_id,client_id,visitor_id,visit_id,process_step,date_time
123,123,949210,591670455_4193241312,205836248_53279938801_198414,confirm,2017-04-05 19:50:00

In [29]:
web['date_time'][123]

Timestamp('2017-04-05 19:50:00')

In [31]:
web['date_time'][123].month

4

In [35]:
web['date_time'][123].strftime(format='%d-%m-%Y')

'05-04-2017'

In [55]:
web['Weekday']=pd.DatetimeIndex(web['date_time']).weekday

In [52]:
#monday is 0, saturday is 5 

web_sundays=web.loc[web['date_time'].dt.weekday ==6]

In [51]:
web_saturdays.shape

(30224, 8)

In [53]:
web_sundays.shape

(35722, 8)

In [54]:
web_sundays.head()

,web_id,client_id,visitor_id,visit_id,process_step,date_time,Month,Day
31,31,9466803,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:24:00,4,16
32,32,9466803,97277031_5793723360,812185460_4263902139_352107,step_2,2017-04-16 13:24:00,4,16
33,33,9466803,97277031_5793723360,812185460_4263902139_352107,step_1,2017-04-16 13:24:00,4,16
34,34,9466803,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:24:00,4,16
35,35,9466803,97277031_5793723360,812185460_4263902139_352107,step_1,2017-04-16 13:21:00,4,16

In [60]:
web.head()

,web_id,client_id,visitor_id,visit_id,process_step,date_time,Month,Day,Weekday,today
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:00,4,17,0,2021-06-04
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:00,4,17,0,2021-06-04
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:00,4,17,0,2021-06-04
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:00,4,17,0,2021-06-04
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:00,4,17,0,2021-06-04

In [59]:
web['today']=date.today()

In [58]:
time.localtime(time.time())

time.struct_time(tm_year=2021, tm_mon=6, tm_mday=4, tm_hour=12, tm_min=0, tm_sec=59, tm_wday=4, tm_yday=155, tm_isdst=1)

In [ ]:
Reference 

%a Locale’s abbreviated weekday name.
%A Locale’s full weekday name.
%b Locale’s abbreviated month name.
%B Locale’s full month name.
%c Locale’s appropriate date and time representation.
%d Day of the month as a decimal number [01,31].
%H Hour (24-hour clock) as a decimal number [00,23].
%I Hour (12-hour clock) as a decimal number [01,12].
%j Day of the year as a decimal number [001,366].
%m Month as a decimal number [01,12].
%M Minute as a decimal number [00,59].
%p Locale’s equivalent of either AM or PM.
%S Second as a decimal number [00,61].
%U Week number of the year (Sunday as the first day of the week) as a decimal number [00,53]. All days in a new year preceding the first Sunday are considered to be in week 0.
%w Weekday as a decimal number [0(Sunday),6].
%W Week number of the year (Monday as the first day of the week) as a decimal number [00,53]. All days in a new year preceding the first Monday are considered to be in week 0
%x Locale’s appropriate date representation.
%X Locale’s appropriate time representation.
%y Year without century as a decimal number [00,99].
%Y Year with century as a decimal number.
%z Time zone offset indicating a positive or negative time difference from UTC/GMT of the form +HHMM or -HHMM, where H represents decimal hour digits and M represents decimal minute digits [-23:59, +23:59].
%Z Time zone name (no characters if no time zone exists).
%% A literal '%' character.