In [2]:
#Importing libraries

import numpy as np 
import pandas as pd

In [3]:
#Import Dataframe

raw_cases = pd.read_csv("casos_fecha_casos.csv")

In [25]:
raw_cases.head()

  fecha;num_casos
0        1/1/20;0
1        1/1/20;0
2        1/1/20;0
3        1/1/20;0
4        1/1/20;0

In [35]:
split_data = raw_cases["fecha;num_casos"].str.split(";")
data = split_data.to_list()
names = ["fecha", "num_casos"]
cases = pd.DataFrame(data, columns=names)

In [36]:
cases.style.format({"fecha": lambda t: t.strftime("%d-%m-%Y")})

AttributeError: 'str' object has no attribute 'strftime'

In [34]:
cases.head()

AttributeError: 'Styler' object has no attribute 'head'

In [7]:
cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10279 entries, 0 to 10278
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fecha      10279 non-null  object
 1   num_casos  10279 non-null  object
dtypes: object(2)
memory usage: 160.7+ KB

In [11]:
cases.nunique()

fecha         541
num_casos    1737
dtype: int64

In [12]:
cases["fecha"] = pd.to_datetime(cases["fecha"])
cases["num_casos"] = cases["num_casos"].astype(str).astype(int)

In [13]:
cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10279 entries, 0 to 10278
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fecha      10279 non-null  datetime64[ns]
 1   num_casos  10279 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 160.7 KB

In [14]:
cases_clean = cases.groupby("fecha").num_casos.sum()
cases_clean

fecha
2020-01-01       1
2020-01-02      16
2020-01-03     689
2020-01-04    5491
2020-01-05     741
              ...
2021-12-02    9567
2021-12-03    5055
2021-12-04    9283
2021-12-05    5023
2021-12-06    2629
Name: num_casos, Length: 541, dtype: int64

In [15]:
type(cases_clean)

pandas.core.series.Series

In [18]:
covid_cases = pd.DataFrame(cases_clean)
covid_cases.reset_index()

         fecha  num_casos
0   2020-01-01          1
1   2020-01-02         16
2   2020-01-03        689
3   2020-01-04       5491
4   2020-01-05        741
..         ...        ...
536 2021-12-02       9567
537 2021-12-03       5055
538 2021-12-04       9283
539 2021-12-05       5023
540 2021-12-06       2629

[541 rows x 2 columns]

In [23]:
covid_cases.head(50)

            num_casos
fecha
2020-01-01          1
2020-01-02         16
2020-01-03        689
2020-01-04       5491
2020-01-05        741
2020-01-06        437
2020-01-07        572
2020-01-08       3751
2020-01-09      11350
2020-01-10      10689
2020-01-11      16048
2020-01-12       8584
2020-01-13          2
2020-01-14          0
2020-01-15          1
2020-01-16          1
2020-01-17          1
2020-01-18          2
2020-01-19          0
2020-01-20          3
2020-01-21          0
2020-01-22          0
2020-01-23          2
2020-01-24          2
2020-01-25          1
2020-01-26          2
2020-01-27          1
2020-01-28          1
2020-01-29          4
2020-01-30          1
2020-01-31          3
2020-02-01          0
2020-02-02         10
2020-02-03        801
2020-02-04       4451
2020-02-05        670
2020-02-06        406
2020-02-07        443
2020-02-08       2883
2020-02-09      10466
2020-02-10      11013
2020-02-11      19301
2020-02-12       7887
2020-02-13         24
2020-02-14         19
2020-02-15         35
2020-02-16         23
2020-02-17         27
2020-02-18         27
2020-02-19         17